@import url("http://library.anderson.edu/themes/niclib2021/assets/css/searchbox-dark.css");

/* Main design templates */
body{
    max-width: 100%;
    background-color: var(--au-black);
    font-size: 18pt;
	padding-top: 4.5em;
}

header{
	width: 100%;
	background: rgba(0,0,0,0.8);
	position: fixed;
	top: 0;
	border-bottom: var(--au-orange) 3px solid;
	z-index: 5;
	box-shadow: 0 7px 5px 0 rgba(0, 0, 0, 0.4), 0 8px 25px 0 rgba(0,0,0,0.4);
}

a{
    color: var(--au-accent-4);
    /*text-decoration: underline; -- Removed because the University doesn't use it */
    font-weight: bold;
    cursor: pointer;
    transition: all .5s;
}

a:hover{
    color: var(--au-orange);
    text-decoration: none;
}

footer{
    margin-bottom: 1em;
    padding: 1em;
    /*border-top: .25em solid var(--au-orange);*/
    clear: both;
	z-index: 3;
	/*box-shadow: 0 -9px 8px 0px rgba(0,0,0,0.4);
	position: relative;*/
	background-color: var(--au-black);
	color: var(--au-accent-4);
}

/* Classes */
.banner-img{
    width: 100%;
}

.box{
    width: 33.33%;
    height: 20em;
    float: left;
}

.box div:first-child{
    width: 100%;
    height: 100%;
}

.mainBox div:first-child{
    width: 100%;
    height: 100%;
}

.box-hours{
    padding: 1em;
    text-align: center;
    height: 100%;
}

.box-hours tfoot{
    font-size: .75em;
    font-style: italic;
}

.bottomBox{
    width: 100%;
    height: 15em;
    clear: both;
}

.btn{
    background-color: var(--au-orange);
    color: var(--au-black);
    font-weight: bold;
}

.btn-group{
	position: fixed;
    bottom: 1em;
    left: 1em;
    font-weight: bold;
	border-color: rgb(165,172,175);
	z-index: 4;
	background-color: var(--au-orange);
	color: var(--au-white);
	box-shadow: 0 1px 10px 0px rgba(0,0,0,0.35);
	opacity: 50%;
}

.btn-group:hover{
	opacity: 100%;
	transition: all .5s;
}

.buttonTitle{
    font-size: 3em;
    color: var(--au-accent-4);
    text-shadow: 2px 2px #000000;
}

.carousel-inner {
	border-top: .25em solid var(--au-orange);
	border-bottom: var(--au-orange) solid .25em;
	box-shadow: 6px 0px 4px 1px rgba(96,111,111,0.5), 8px 0px 35px 10px rgba(93,110,127,0.8),-9px 0px 8px 1px rgba(96,111,111,0.4);
	position: relative;
	filter: brightness(.8) contrast(1.2);
	
}

.carousel-control-prev:hover {
	background-color: rgb(0,0,0,.2);
	transition: all .5s;
}

.carousel-control-next:hover {
	background-color: rgb(0,0,0,.2);
	transition: all .5s;
}

.contact-buttons {
    margin: 1.15em 0;
    padding: 1.93em 2em;
    clear: both;
}

.container nav{
    margin-top: 1em;
}

.content{
    margin: 1em auto;
}

.contentContact{
    width: 100%;
    margin-bottom: 1em;
}

.contentContact h3{
    color: var(--au-gray);
}

.contentContent{
    clear: both;
}

.contentContent p{
    margin-top: .5em;
}

.contentImage{
    margin: 1em auto;
}

.contentList{
    margin: 1em auto;
}

.contentList dt{
    border: 1px solid rgba(195, 207, 220, 0.7);
    padding: 2em;
    background-color: rgba(195, 207, 220, 0.2);
}

.contentList dd{
    padding: 2em;
}

.contentTitle{
    font-weight: bold;
    font-size: 2em;
    color: var(--au-orange);
    text-transform: uppercase;
}

.dropdown-divider {
	border-color: var(--au-orange) !important;
	width: 90%;
	margin-left: auto !important;
	margin-right: auto !important;
}

.dropdown-item {
    font-size: 1.5em;
	text-align: center !important;
	color: var(--au-accent-4);
}

.dropdown-item disabled {
    font-size: 1.5em;
	text-align: center !important;
	color: var(--au-neutral-6) !important;
}

.dropdown-item:hover {
	background-color: var(--au-neutral-3) !important;
	color: var(--au-accent-4);
}

.dropdown-menu {
	box-shadow: 0 4px 4px 0 rgba(96,111,111,0.3), 0 4px 10px 0 rgba(96,111,111,0.3);
	background-color: var(--au-neutral-5);
}

.dropdown-RR {
    font-size: 1.5em;
	text-align: center;
	padding-top: .25em;
	color: var(--au-accent-1);
}

.emailForm{
    padding: 1em;
}

.emailForm textarea{
    height: 11.25em;
}

.expand-icon{
    color: rgba(195, 207, 220, 0.9);
    float: right;
    clear: both;
}

.footernav{
    margin-bottom: 1em;
}

.headerHours{
    font-size: .6em;
}

.job-title{
    color: var(--au-accent-5);
}

.left{
    margin-left: 5%;
    text-align:left;
    float: left;
	background-color: var(--au-black);
}

.libraryh3lp{
    padding: 1em;
}

.libSearch{
    background-image: url('https://library.anderson.edu/themes/niclib2021/assets/images/niclib_doors.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
	filter: brightness(.8) contrast(1.2);
    padding-top: 10em;
    padding-left: 5%;
	padding-right: 3%;
    border-bottom: var(--au-orange) solid .25em;
	height: 30em;
	box-shadow: 0 6px 4px 0 rgba(0,0,0,0.5), 0 9px 25px 0 rgba(0,0,0,0.4);
	z-index: 3;
	position: relative;
}

.mainBox{
    width: 100%;
    height: 30em;
	float: left;
}

.main-menu{
    margin-left: 40%;
}

.mobile-child-menu{
    padding: 1em;
    list-style: none;
}

.mobile-child-menu li{
    padding: 1em;
}

.mobile-menu{
    text-align: center;
    display: none;
}

.mobile-menu-item{
    font-size: 1em;
    font-weight: 600;
    padding: 1em;
    display: block;
	color: var(--au-accent-4);
}

.mobile-parent-menu{
    padding: 0;
    list-style: none;
}

.navbar-toggler{
    font-size: 1em;
	color: var(--au-accent-4);
}

.navbar-brand {
	background: rgba(0,0,0,0.10);
	background-image: url('../images/aulogosm_dark.png');
	background-position: center center;
    background-repeat: no-repeat;
	background-size: contain;
	width: 16%;
	height: 90px;
}

.nav-link:focus {
	color: var(--au-orange);
	transition: all .5s;
}

.questionGroup{
    margin: 1em auto;
    clear: both;
}

.right{
    margin-right: 5%;
    text-align: right;
    float: right;
	background-color: var(--au-black);
}

.seeThis{
    background-color: var(--au-neutral-1);
    padding: 1em;
    text-align: center;
}

.staff-img{
    /* Img must be 232px wide */
    float: left;
    clear: both;
}

.staff-info{
    margin-top: 2em;
    padding-left: 2%;
    float: left;
}

.staff-info p{
    font-size: .75em;
}

.staff-name{
    font-weight: bold;
    color: var(--au-orange);
    text-transform: uppercase;
}

.staff-title{
    color: var(--au-gray);
}

.table td, .table th{
    border-top: none;
}

.york-presenters{
    text-align: center;
}

.york-presenters-title {
    color: var(--au-gray);
}

.york-presenter-profile-name a{
    color: var(--au-accent-5);
    text-transform: uppercase;
}

.york-schedule{
    text-align: center;
}

.york-schedule tfoot{
    font-size: .5em;
    font-style: italic;
}


/* IDs */
#databasesBox{
    background-image: url('https://library.anderson.edu/themes/niclib2021/assets/images/articles.jpg');
    background-size: cover;
    background-position: 0% 40%;
    background-repeat: no-repeat;
	filter: brightness(.8) contrast(1.2);
    padding: 2em;
    border-right: var(--au-gray) solid .1em;
	text-align: center;
    float: left;
	box-sizing: border-box;
}

#databasesBox:hover{
	opacity: 70%;
	transition: all .5s;
	z-index: 2;
	box-shadow:27px -1px 51px -14px rgba(96,111,111,0.9);
	
}

#researchBox{
    background-image: url('https://library.anderson.edu/themes/niclib2021/assets/images/computer_use.jpg');
    background-size: cover;
    background-position: 100% 90%;
    background-repeat: no-repeat;
	filter: brightness(.8) contrast(1.2);
    padding: 2em;
    border-left: var(--au-gray) solid .1em;
	border-right: var(--au-gray) solid .1em;
	text-align: center;
	float: left;
	box-sizing: border-box;
}

#researchBox:hover{
	opacity: 70%;
	transition: all .5s;
	z-index: 2;
	box-shadow:27px -1px 51px -14px rgba(96,111,111.9),-27px -1px 51px -14px rgba(96,111,111,0.9);
}

#browzineBox{
    background-image: url('https://library.anderson.edu/themes/niclib2021/assets/images/periodicals.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 53%;
	filter: brightness(.8) contrast(1.2);
    padding: 2em;
    border-left: var(--au-gray) solid .1em;
	text-align: center;
    float: left;
	box-sizing: border-box;
}

#browzineBox:hover{
	opacity: 70%;
	transition: all .5s;
	z-index: 2;
	box-shadow:-27px -1px 51px -14px rgba(96,111,111,0.9);
}

#chat-button{
    position: fixed;
    bottom: 2em;
    right: 2em;
    font-weight: bold;
	z-index: 4;
	box-shadow: 0 1px 10px 1px rgba(96,111,111,0.4);
	background-color: rgb(245,121,32,.5);
	color: rgb(0,0,0,.5);
}

#chat-button:hover{
	background-color: var(--au-orange);
	color: var(--au-black);
	box-shadow: 0 4px 4px 1px rgba(96,111,111,0.6), 0 5px 15px 1px rgba(96,111,111,0.6);
	transition: all .5s;
}

#iframeHolder{
	position: fixed;
	bottom: 3.7em;
	right: 1em;
	height: 23em;
	z-index: 5;
}

#lang-button:hover{
	background-color: var(--au-orange);
	color: var(--au-black);
	border-color: transparent;
	box-shadow: 0 3px 3px 0px rgba(0,0,0,0.6), 0 5px 15px 0px rgba(0,0,0,0.59);
	transition: all .5s;
}

#lang-button:focus{
	background-color: var(--au-orange);
	color: var(--au-black);
	border-color: transparent;
	box-shadow: 0 3px 3px 0px rgba(0,0,0,0.6), 0 5px 15px 0px rgba(0,0,0,0.59);
	transition: all .5s;
}

#light_switch:hover{
	background-color: var(--au-orange);
	color: var(--au-black);
	border-color: transparent;
	box-shadow: 0 3px 3px 0px rgba(0,0,0,0.6), 0 5px 15px 0px rgba(0,0,0,0.59);
	transition: all .5s;
}

#light_switch:focus{
	background-color: var(--au-orange);
	color: var(--au-black);
	border-color: transparent;
	box-shadow: 0 3px 3px 0px rgba(0,0,0,0.6), 0 5px 15px 0px rgba(0,0,0,0.59);
	transition: all .5s;
}

#specialEvents{
	position: relative;
	width: 100%;
	float: left;
	border-bottom: var(--au-orange) solid .25em;
	border-top: .25em solid var(--au-orange);
	text-align: center;
	height: 206px;
	background-image: url('https://library.anderson.edu/themes/niclib2021/assets/images/event banner.png');
	background-size: cover;
	background-position: center center;
	filter: brightness(.8) contrast(1.2);
	box-shadow: 0 6px 4px 1px rgba(0,0,0,0.5), 0 8px 35px 10px rgba(96,111,111,0.9),0 -9px 8px 1px rgba(0,0,0,0.4);
	z-index: 3;
}

#Events{
	position: relative;
	width: 100%;
	float: left;
	height: 206px;
	z-index: 3;
}
