/* Main design templates */
body{
    max-width: 100%;
    background-color: var(--au-white);
    font-size: 18pt;
}

a{
    color: var(--au-black);
    /*text-decoration: underline; -- Removed because the University doesn't use it */
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: all .5s;
    transition: all .5s;
}

a:hover{
    color: var(--au-orange);
    text-decoration: none;
}

footer{
    margin-bottom: 1em;
    padding: 1em;
    border-top: .25em solid var(--au-orange);
    clear: both;
}

/* Classes */
.banner-img{
    width: 100%;
}

.box{
    width: 33.33%;
    height: 20em;
    float: left;
}

.box div:first-child{
    width: 100%;
    height: 100%;
}

.box-hours{
    padding: 1em;
    text-align: center;
    height: 100%;
}

.box-hours tfoot{
    font-size: .75em;
    font-style: italic;
}

.bottomBox{
    width: 100%;
    height: 15em;
    clear: both;
}

.btn{
    background-color: var(--au-orange);
    color: var(--au-white);
    font-weight: bold;
}

.buttonTitle{
    font-size: 3em;
    color: var(--au-white);
    text-shadow: 2px 2px #000000;
}

.contact-buttons {
    margin: 1.15em 0;
    padding: 1.93em 2em;
    clear: both;
}

.container nav{
    margin-top: 1em;
}

.content{
    margin: 1em auto;
}

.contentContact{
    width: 100%;
    margin-bottom: 1em;
}

.contentContact h3{
    color: var(--au-gray);
}

.contentContent{
    clear: both;
}

.contentContent p{
    margin-top: .5em;
}

.contentImage{
    margin: 1em auto;
}

.contentList{
    margin: 1em auto;
}

.contentList dt{
    border: 1px solid rgba(195, 207, 220, 0.7);
    padding: 2em;
    background-color: rgba(195, 207, 220, 0.2);
}

.contentList dd{
    padding: 2em;
}

.contentTitle{
    font-weight: bold;
    font-size: 2em;
    color: var(--au-orange);
    text-transform: uppercase;
}

.dropdown-item {
    font-size: 1.5em;
}

.emailForm{
    padding: 1em;
}

.emailForm textarea{
    height: 11.25em;
}

.expand-icon{
    color: rgba(195, 207, 220, 0.9);
    float: right;
    clear: both;
}

.footernav{
    margin-bottom: 1em;
}

.headerHours{
    font-size: .6em;
}

.job-title{
    color: var(--au-accent-5);
}

.left{
    margin-left: 5%;
    text-align:left;
    float: left;
}

.libraryh3lp{
    padding: 1em;
}

.libSearch{
    background-image: url('../images/niclib_doors.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 10em;
    padding-left: 5%;
    border-bottom: var(--au-gray) solid .2em;
}

.mainBox{
    width: 100%;
    height: 30em;
}

.main-menu{
    margin-left: 40%;
}

.mobile-child-menu{
    padding: 1em;
    list-style: none;
}

.mobile-child-menu li{
    padding: 1em;
}

.mobile-menu{
    text-align: center;
    display: none;
}

.mobile-menu-item{
    font-size: 1em;
    font-weight: 600;
    padding: 1em;
    display: block;
}

.mobile-parent-menu{
    padding: 0;
    list-style: none;
}

.navbar-toggler{
    font-size: 1em;
}

.questionGroup{
    margin: 1em auto;
    clear: both;
}

.right{
    margin-right: 5%;
    text-align: right;
    float: right;
}

.seeThis{
    background-color: var(--au-neutral-1);
    padding: 1em;
    text-align: center;
}

.staff-img{
    /* Img must be 232px wide */
    float: left;
    clear: both;
}

.staff-info{
    margin-top: 2em;
    padding-left: 2%;
    float: left;
}

.staff-info p{
    font-size: .75em;
}

.staff-name{
    font-weight: bold;
    color: var(--au-orange);
    text-transform: uppercase;
}

.staff-title{
    color: var(--au-gray);
}

.submit-button{
    background-color: transparent;
    color: var(--au-white);
    font-weight: bold;
    border: 3px solid var(--au-orange);
}

.submit-button:hover{
    color: var(--au-white);
}

.submit-button disabled{
    cursor: pointer;
}

.table td, .table th{
    border-top: none;
}

.york-presenters{
    text-align: center;
}

.york-presenters-title {
    color: var(--au-gray);
}

.york-presenter-profile-name a{
    color: var(--au-accent-5);
    text-transform: uppercase;
}

.york-schedule{
    text-align: center;
}

.york-schedule tfoot{
    font-size: .5em;
    font-style: italic;
}


/* IDs */
#databasesBox{
    background-image: url('../images/articles.jpg');
    background-size: cover;
    background-position: 0% 40%;
    background-repeat: no-repeat;
    padding: 2em;
    border-right: var(--au-gray) solid .15em;
	text-align: center;
}

#researchBox{
    background-image: url('../images/computer_use.jpg');
    background-size: cover;
    background-position: 100% 90%;
    background-repeat: no-repeat;
    padding: 2em;
    border-left: var(--au-gray) solid .15em;
	border-right: var(--au-gray) solid .15em;
	text-align: center
}

#browzineBox{
    background-image: url('../images/periodicals.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 53%;
    padding: 2em;
    border-left: var(--au-gray) solid .15em;
	text-align: center
}

#chat-button{
    position: fixed;
    bottom: 2em;
    right: 2em;
    font-weight: bold;
    border-radius: 1em;
}
