@media screen and (max-width: 1790px){
    .main-menu{
        margin-left: 36%;
    }
}

@media screen and (max-width: 1680px){
    .main-menu{
        margin-left: 30%;
    }
}

@media screen and (max-width: 1610px){
    .libSearch{
        padding-left: 3%;
        padding-right: 3%;
    }

    #queryString{
        width: 75%;
    }
}

@media screen and (max-width: 1540px){
    .main-menu{
        margin-left: 25%;
    }
}

@media screen and (max-width: 1440px){
    .main-menu{
        margin-left: 20%;
    }
}

@media screen and (max-width: 1351px){
    .main-menu{
        margin-left: 15%;
    }
}

@media screen and (max-width: 1308px){
    .libSearch{
        padding-right: 0;
    }
}

@media screen and (max-width: 1274px){
    .main-menu{
        margin-left: 10%;
    }
}

@media screen and (max-width: 1267px){
    #queryString{
        width: 70%;
    }
}

@media screen and (max-width: 1205px){
    .main-menu{
        margin-left: 5%;
    }
}

@media screen and (max-width: 1199px){
    .staff-info{
        margin-top: 1em;
        padding-left: 5%;
    }
}

@media screen and (max-width: 1170px){
    .tab-links a {
        padding: 9px 10px;
    }
}

@media screen and (max-width: 1143px){
    .main-menu{
        margin-left: 3%;
    }
}

@media screen and (max-width: 1141px) {
    .box {
        width: 100%;
    }
}

@media screen and (max-width: 1130px){
    .tabs{
        padding: 4.5em 2em;
    }
}

@media screen and (max-width: 1119px){
    .main-menu{
        margin-left: 0;
    }
}

@media screen and (max-width: 1090px){
    .tab-links a{
        margin: auto 5%;
    }
}

@media screen and (max-width: 1087px){
    .nav-link{
        padding: .5rem .5rem;
    }
}

@media screen and (max-width: 1061px){
    #queryString{
        width: 68%;
    }
}

@media screen and (max-width: 1023px){
    .nav-link{
        padding: .5rem .25rem;
    }
}

@media screen and (max-width: 1015px){
    .searchScope{
        width: 100%;
        height: 3em;
        margin: 1em auto;
    }

    .searchSubmit{
        width: 100%;
        height: 3em;
        margin: 1em auto;
    }

    .searchTerm{
        width: 100%;
        height: 3em;
        margin: 1em auto;
    }

    .tab-links a{
        padding: 9px 5px;
    }
}

@media screen and (max-width: 997px){
    #queryString{
        width: 65%;
    }
}

@media screen and (max-width: 991px){
    .headerHours{
        display: none;
    }

    .main-menu{
        display: none;
    }

    .mobile-menu{
        display: block;
    }

    .navbar-brand img{
        height: 3em;
    }
}

@media screen and (max-width: 986px){
    #catalog-search button{
        margin-top: 1em;
        width: 100%;
    }

    #queryString{
        width: 78%;
    }

    .searchLinks{
        display: none;
    }
}

@media screen and (max-width: 975px){
    .tab-links a {
        margin: auto 4%;
    }
}

@media screen and (max-width: 961px){
    #queryString{
        width: 77%
    }
}

@media screen and (max-width: 920px){
    #queryString{
        width: 76%;
    }
}

@media screen and (max-width: 883px){
    #queryString{
        width: 75%;
    }
}

@media screen and (max-width: 849px){
    .libSearch{
        padding-left: 0;
        padding-top: 8em;
    }

    .mainBox{
        height: 30em;
    }

    #queryString{
        width: 100%;
    }

    #search-facet{
        margin-bottom: 1em;
        width: 100%;
    }
}

@media screen and (max-width: 786px){
    .tab-links a{
        margin: auto 3%;
    }
}

@media screen and (max-width: 761px){
    .tab-links a{
        margin: auto 1%;
    }
}

@media screen and (max-width: 640px){
    .footernav .left{
        margin-left: 0;
        text-align: center;
        float: none;
    }

    .footernav .right{
        margin-right: 0;
        text-align: center;
        float: none;
    }
}

@media screen and (max-width: 632px){
    .buttonTitle{
        font-size: 2em;
    }
}

@media screen and (max-width: 580px){
    .tab-content{
        margin-top: -11em;
    }
}

@media screen and (max-width: 569px){
    #databasesBox, #researchBox{
        background-position: center;
    }
}

@media screen and (max-width: 527px){
    .staff-info{
        padding: 0;
    }

    .staff-img {
        display: block;
        width: 100%;
    }

    .staff-info{
        display: block;
        width: 100%;
    }
    .staff-member {
        text-align: center;
        display: block;
    }
}

@media screen and (max-width: 517px){
    .tab-links a{
        margin: auto;
    }
}

@media screen and (max-width: 512px){
    .contentContact{
        text-align: center;
    }

    .contentContact .staff-img{
        width: 100%;
        margin-bottom: 1em;
    }

    .contentContact .staff-info{
        margin: 1em auto;
        padding: 0;
        clear: both;
        float: none;
    }
}

@media screen and (max-width: 500px){
    .contentList dd{
        padding: 0;
    }
}

@media screen and (max-width: 467px){
    .tab-label{
        font-size: .8em;
    }
}

@media screen and (max-width: 453px){
    #researchBox, #databasesBox{
        padding: 2em 1em;
    }
}

@media screen and (max-width: 451px){
    .tab-content{
        margin-top: -14em;
    }
}

@media screen and (max-width: 439px){
    .tab-content{
        margin-top: -16em;
    }
}

@media screen and (max-width: 451px){
    .tabs{
        padding: 4.5em 1em;
    }
}

@media screen and (max-width: 403px){
    .tabs{
        padding: 4.5em .5em;
    }
}

@media screen and (max-width: 425px) {
    .tab-content{
        margin-top: -11em;
    }
}

@media screen and (max-width: 379px){
    .tabs{
        padding: 4.5em .25em;
    }
}

@media screen and (max-width: 367px){
    .tab-content{
        margin-top: -11em;
    }
}
