#queryString{
	width: 80%;
	background: var(--au-neutral-3);
	color: var(--au-accent-4);
}

#queryString:focus{
	outline: 2px solid var(--au-orange);
}

#search-facet{
	background: var(--au-neutral-3);
	color: var(--au-accent-4);
}

#search-facet:focus{
	outline: 2px solid var(--au-orange);
}

.searchLinks{
	margin: -8em 0 0;
	text-align: center;
	text-shadow: 2px 2px #000000;
}

.searchLinks .table td{
	border-top: none;
}

.searchLinks .table a{
	color: var(--au-accent-4);
}

.searchLinks .table a:hover{
	color: var(--au-orange);
	transition:all 0.5s;
}

#search-submit{
	background-color: transparent;
	color: var(--au-accent-4);
	font-weight: bold;
	border-color: var(--au-orange);
	text-shadow: 2px 2px var(--au-neutral-3);
}

#search-submit:hover{
    background-color: var(--au-orange);
	transition: all .5s;
	color: var(--au-black);
	text-shadow: 2px 2px var(--au-orange);
	box-shadow: 0 3px 8px 3px rgba(0,0,0,0.4);
}

.search-title {
	margin-bottom: 1em;
	color: var(--au-accent-4);
	text-shadow: 2px 2px 6px var(--au-black);
}

.form-inline {
	display: flex;
	flex-flow: nowrap;
	align-items: center;
}

.form-inline select {
	vertical-align: middle;
	padding: .15em;
	border-radius: 5px;
}

.form-inline input {
	vertical-align: middle;
	padding: .15em;
	width: 65%;
	border-radius: 5px;
	margin-left: .25em;
	margin-right: .25em;
}

.form-inline button {
	padding: .15em;
	border-radius: 5px;
}
