:root{
    --au-orange: #F57920;
    --au-black: #000000;
    --au-gray: #A5ACAF;
    --au-white: #FFFFFF;
    --au-neutral-1: #FBE0B6;
    --au-neutral-2: #B1DEE6;
    --au-neutral-3: #5B6E7F;
    --au-neutral-4: #BDD1E4;
    --au-neutral-5: #6E655D;
    --au-neutral-6: #606F6F;
    --au-accent-1: #FFCC50;
    --au-accent-2: #FB5058;
    --au-accent-3: #3BBFBB;
    --au-accent-4: #FFAE3B;
    --au-accent-5: #00BDD4;
    --au-accent-6: #45D492;
}
